// Solid Colors ---------------
$white: #ffffff;
$black: #000;

// Orange Colors ---------------
$theme-color-2:#FFB038;

// Grey-2Colors ---------------
$theme-color-2-2:#A2A2A2;

$gray-1: #EFEFEF;
$gray-2: #D1D2D1;
$gray-3: #A2A4A2;
$gray-4: #747774;
$gray-5: #434B49;
$gray-6: #171C17;
$gray-7: #0E110E;


$header-top-bg: #EFEFEF;
$gray-bg: #FAFAFA;
$green-bg-1: #F2FFF4;
$green-bg-2: #DBF5E0;

$linear-bg-1: linear-gradient(to bottom, #F2FFF4, #FFFFFF);
$linear-bg-2: linear-gradient(to bottom right, #EAFAED, #bbf1c4);

// Footer Colors ---------------
$footer-bg: #171C17;


// basic color
$theme-color: #39B74E;



// basic color
$theme-bg: #F6F8FB;



// Text Colors ---------------
$body-text: #575757;



// Border Colors ---------------
$border:#edeef2;

// Heading Colors ---------------
$heading-color: #141517;


// section-bg Colors ---------------
$section-bg: #F6F8FB;